// ADD VISIT
.add-visit.sec-pt-120
  .container-l
    // section header
    .section-header.section-header--white(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Add to your visit
          .section-header__link
            a(href="#")
              span Experience more
              +svgMono('arrow-right')
  .add-visit__content
    .add-visit__slider
