// ADD VISIT
.add-visit.sec-pt-120
  .container-l
    // section header
    .section-header.section-header--white(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Add to your visit
          .section-header__link
            a(href="#")
              span Experience more
              +svgMono('arrow-right')
    // add visit content
    .add-visit__content(data-aos="fade-up")
      .add-visit__slider
        .swiper-container.swiper-bullets.swiper-arrows.js-swiper-add-visit
          .swiper-wrapper
            each slide in [1,2]
              // slide
              .swiper-slide
                .visit
                  .visit__background.background-cover-ofit
                    img(src='img/add_visit_1.jpg' srcset='img/add_visit_1@2x.jpg 2x')
                  .visit__content
                    .visit__content-wrapper
                      .visit__link-title.swiper-aos.swiper-aos--fade-up
                        span Stadium Tours
                        +svgMono('arrow-right')
                      .visit__description.swiper-aos.swiper-aos--fade-up Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit.
                      .visit__cta.swiper-aos
                        a(href="#").btn.btn-primary.btn-white See more
              // slide
              .swiper-slide
                .visit
                  .visit__background.background-cover-ofit
                    img(src='img/event_2.jpg' srcset='img/event_2@2x.jpg 2x')
                  .visit__content
                    .visit__content-wrapper
                      .visit__link-title.swiper-aos.swiper-aos--fade-up
                        span Stadium Tours
                        +svgMono('arrow-right')
                      .visit__description.swiper-aos.swiper-aos--fade-up Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit.
                      .visit__cta.swiper-aos
                        a(href="#").btn.btn-primary.btn-white See more

          .container-l__inner
            .swiper-pagination
          .swiper-arrows__container
            .swiper-arrows__wrapper
              .swiper-prev
                +svgMono('arrow-right')
              .swiper-next
                +svgMono('arrow-right')
          .section-header__cta-mobile
            a(href="#").btn.btn-primary
              span Experience more
              +svgMono('arrow-right')
