.test-page
  .content
    .container
      h2.h2-title Icon pack
      .test-icons
        +svgMono('logo')
        +svgMono('caret')
        +svgMono('arrow-right')
        +svgMono('play-btn')
        +svgMono('search')
        +svgMono('social-facebook')
        +svgMono('social-google')
        +svgMono('social-instagram')
        +svgMono('social-linkedin')
        +svgMono('social-twitter')
        +svgMono('social-youtube')
        +svgMono('accessbility')

        +svgMono('calendar')
        +svgMono('email')
        +svgMono('experience')
        +svgMono('food')
        +svgMono('info')
        +svgMono('location')
        +svgMono('news')
        +svgMono('phone-call')
        +svgMono('seats')
        +svgMono('seats2')
        +svgMono('stadium')
        +svgMono('tickets')
        +svgMono('train')
        +svgMono('clock')
        +svgMono('weather')
