// EVENTS
.events
  position: relative
  z-index: 2
  margin-top: -160px
  &__header
    padding: 80px 0 40px
    background: #134273
    color: white
  &__header-wrapper
    display: flex
    align-items: center
  &__header-name
    font-size: 35px
    font-weight: 800
  &__header-link
    margin-left: auto
    font-size: 19px
    font-weight: 600
