// EVENTS
.events.sec-mt-fold
  .container-l
    // section header
    .section-header(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Upcoming events
          .section-header__link
            a(href="#")
              span See all Events
              +svgMono('arrow-right')
    .events__content
      .events__slider
        .swiper-container.swiper-bullets.swiper-arrows.js-swiper-events
          .swiper-wrapper
            each slide in [1,2]
              // slide
              .swiper-slide
                .event
                  .event__background.background-cover-ofit
                    img(src='img/event_1.jpg' srcset='img/event_1@2x.jpg 2x')
                  .event__content
              // slide
              .swiper-slide
                .event
                  .event__background.background-cover-ofit
                    img(src='img/event_2.jpg' srcset='img/event_2@2x.jpg 2x')
                  .event__content

          .container-l__inner
            .swiper-pagination
          .swiper-arrows__container
            .swiper-arrows__wrapper
              .swiper-prev
                +svgMono('arrow-right')
              .swiper-next
                +svgMono('arrow-right')
