// EVENTS
.container-l
  // section header
  .section-header(data-aos="fade")
    .container-l__inner
      .section-header__wrapper
        .section-header__name Upcoming events
        .section-header__link
          a(href="#")
            span See all Events
            +svgMono('arrow-right')
  .events__content(data-aos="fade-up")
    .events__slider
      .swiper-container.swiper-bullets.swiper-arrows.js-swiper-events
        .swiper-wrapper
          each slide in [1,2]
            // slide
            .swiper-slide
              .event
                .event__background.background-cover-ofit
                  img(src='img/event_1.jpg' srcset='img/event_1@2x.jpg 2x')
                .event__content
                  .event__content-wrapper
                    .event__datetime.swiper-aos.swiper-aos--fade-up Friday – 8:30pm <br/>30 November 2019
                    .event__title.swiper-aos.swiper-aos--fade-up Foo Fighters
                    .event__cta.swiper-aos
                      a(href="#").event__book Book now
                      a(href="#").event__more More info

            // slide
            .swiper-slide
              .event
                .event__background.background-cover-ofit
                  img(src='img/event_2.jpg' srcset='img/event_2@2x.jpg 2x')
                .event__content
                  .event__content-wrapper
                    .event__datetime.swiper-aos.swiper-aos--fade-up Friday – 8:30pm <br/>30 November 2019
                    .event__title.swiper-aos.swiper-aos--fade-up Foo Fighters 2
                    .event__cta.swiper-aos
                      a(href="#").event__book Book now
                      a(href="#").event__more More info

        .container-l__inner
          .swiper-pagination
        .swiper-arrows__container
          .swiper-arrows__wrapper
            .swiper-prev
              +svgMono('arrow-right')
            .swiper-next
              +svgMono('arrow-right')
        .section-header__cta-mobile
          a(href="#").btn.btn-primary
            span See all Events
            +svgMono('arrow-right')
