// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-flex
  align-items: center
  position: relative
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  span
    display: inline-block
    margin-right: 0.5em
  .ico
    font-size: 14px
    transform: translate(0, 0px)
    will-change: transform
    transition: transform .25s $ease
  &:focus, &:active
    outline: none
  &:hover
    .ico
      transform: translate(5px, 0px)

  &-primary
    font-size: 21px
    font-weight: 600
    padding: 17px 32px
    border-width: 2px
    border-style: solid
    border-color: $colorBlue
    color: $colorBlue
    &:hover
      background: $colorBlue
      color: white

  &-blue
    font-size: 17px
    font-weight: 600
    padding: 20px 30px
    border: 0
    color: white
    background: $colorBlue
    // border: 2px solid $colorBlue
    &:hover
      color: $colorBlue
      background: white

  &-rounded
    font-size: 13px
    font-weight: 600
    border: 2px solid white
    color: white
    padding: 7px 12px
    border-radius: 30px
    &:hover
      background: white
      color: $fontColor
    +r($sm)
      font-size: 9px
      border-width: 1px

  &-white
    color: white
    border-color: white
    &:hover
      background: white
      color: $fontColor

  &--block
    display: block
    width: 100%
    text-align: center


+r($sm)
  .btn
    &-primary
      font-size: 15px
      padding: 15px

