// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%

  &-primary
    display: inline-flex
    align-items: center
    font-size: 21px
    font-weight: 600
    padding: 17px 32px
    border-width: 2px
    border-style: solid
    span
      display: inline-block
      margin-right: 0.5em
    .ico
      font-size: 14px
      transform: translate(0, 1px)
      will-change: transform
      transition: transform .25s $ease
    &:hover
      .ico
        transform: translate(5px, 1px)

  &-rounded
    font-size: 13px
    font-weight: 600
    border: 2px solid white
    color: white
    padding: 7px 12px
    border-radius: 30px
    &:hover
      background: white
      color: $fontColor
    +r($sm)
      font-size: 9px
      border-width: 1px

  &-white
    color: white
    border-color: white
    &:hover
      background: white
      color: $fontColor
