// SECTIONS
.section-header
  padding: 80px 0 40px
  background: $colorBlue
  color: white
  &--titled
    background: rgba($colorBlue, .9)
    padding: 33px 0 60px
  &__wrapper
    display: flex
    align-items: center
  &__title
    margin: 0
    font-size: 100px
    font-family: $baseFont
    font-weight: 800
    line-height: 1
    letter-spacing: em(-2, 100)
    text-transform: none
  &__breadcrumbs
    margin-bottom: 35px
  &__name
    font-size: 35px
    font-weight: 800
  &__link
    display: inline-flex
    margin-left: auto
    font-size: 19px
    font-weight: 600
    span
      display: inline-block
      margin-right: 0.5em
    .ico
      font-size: 12px
      will-change: transform
      transform: translate(0px, 0px)
      transition: transform .25s $ease
    &:hover
      .ico
        transform: translate(5px, 0px)
  &__cta-mobile
    display: none
    padding: 0 15px
    margin-bottom: 45px
    .btn
      width: 100%
      .ico
        margin-left: auto
  &--gray
    background: $colorGrayBG
    color: #134273
  &--white
    background: white
    color: #134273

// SECTION MARGINS
.sec-pt-120
  padding-top: 120px

.sec-mt-fold
  margin-top: calc(-25vh - 160px)

.sec-mt-fold-t
  margin-top: -260px


+r($lg)
  .section-header
    &__title
      font-size: 72px
    &__name
      font-size: 32px

  .sec-pt-120
    padding-top: 80px

  .sec-mt-fold-t
    margin-top: -230px


+r($md)
  .section-header
    padding: 50px 0 30px
    &--titled
      padding: 25px 0 40px
    &__title
      font-size: 48px
    &__breadcrumbs
      margin-bottom: 30px
    &__name
      font-size: 25px
    &__link
      font-size: 17px
      span
        margin-right: 0.4em
      .ico
        font-size: 10px

  .sec-pt-120
    padding-top: 0

  .sec-mt-fold-t
    margin-top: -175px


+r($sm)
  .section-header
    padding: 40px 0 20px
    &--titled
      padding: 15px 0 25px
    &__title
      font-size: 29px
    &__breadcrumbs
      margin-bottom: 20px
    &__name
      font-size: 17px
    &__link
      display: none
    &__cta-mobile
      display: block

  .sec-mt-fold
    margin-top: -80px
  .sec-mt-fold-t
    margin-top: -110px


// Content section
.content-section
  padding: 80px 0 100px
  +r($lg)
    padding: 60px 0 80px
  +r($md)
    padding: 40px 0 50px
  +r($sm)
    padding: 20px 0 30px

// section triangle
.sec-tr
  position: relative
  &::after
    display: inline-block
    content: ' '
    position: absolute
    top: 0
    right: 0
    pointer-events: none
    z-index: 1
  > .container
    position: relative
    z-index: 2
  &--red
    &::after
      +arr(428, 660, $colorRed, tr)
  &--cyan
    &::after
      +arr(428, 660, $colorCyan, tr)

+r($md)
  .sec-tr
    &--red, &--cyan
      &::after
        border-right-width: 300px
        border-bottom-width: 462px

+r($sm)
  .sec-tr
    &--red, &--cyan
      &::after
        border-right-width: 171px
        border-bottom-width: 264px
