.background-cover-ofit
  position: absolute 0
  z-index: 1
  pointer-events: none
  user-select: none
  display: flex
  flex-direction: column
  font-size: 0
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  img, picture, video
    width: 100%
    height: 100%
    flex: 1 1 auto
    object-fit: cover
    object-position: center center

// navlink
.navlink
  display: flex
  flex-direction: column
  &__icon
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: $colorCyan
    min-height: 38px
    font-size: 0
    transition: transform .25s $ease
    will-change: transform
    .ico
      font-size: 32px
    .ico-mono
      &-calendar
        font-size: 31px
      &-tickets
        font-size: 38px
  &__content
    padding-top: 12px
    margin-top: auto
  &__title
    font-size: 19px
    font-weight: 600
  &__link
    margin-top: 0.2em
    display: flex
    align-items: center
    color: $colorCyan
    span
      display: inline-block
      margin-right: 10px
      font-size: 19px
      font-weight: 600
    .ico
      font-size: 12px
      transition: transform .25s $ease
      will-change: transform
  &:hover
    .navlink
      &__icon
        transform: translateY(-5px)
      &__link
        .ico
          transform: translateX(5px)

+r($lg)
  .navlink
    flex-direction: row
    &__icon
      display: block
      flex: 0 0 32px
      padding-top: 3px
    &__content
      padding-top: 0
      margin-top: 0
      padding-left: 16px

+r($sm)
  .navlink
    &__icon
      flex: 0 0 24px
      .ico
        font-size: 24px
      .ico-mono
        &-calendar
          font-size: 22px
        &-tickets
          font-size: 24px
    &__title
      font-size: 13px
    &__link
      span
        font-size: 13px
        margin-right: 5px
      .ico
        font-size: 10px
