// BULLETS
.swiper-bullets
  .swiper-pagination
    padding: 50px 0
    display: flex
    align-items: center
    justify-content: center

  .swiper-pagination-bullet
    size: 12px
    border-radius: 50%
    margin-right: 10px
    background: #DBE2E3
    cursor: pointer
    transition: background .25s $ease
    &:last-child
      margin-right: 0
  .swiper-pagination-bullet-active
    background: $colorCyan

// ARROWS
.swiper-arrows
  &__container
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    max-width: 100%
    pointer-events: none
  &__wrapper
    display: flex
  &--centrify
    .swiper-arrows__container
      top: 40%
      max-width: 1023px
      left: 50%
      transform: translate(-50%,0)

  .swiper-prev, .swiper-next
    background: white
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    size: 46px
    pointer-events: all
    font-size: 0
    color: $colorBlueBG
    cursor: pointer
    transition: background .25s $ease, color .25s $ease
    .ico
      font-size: 18px
    &:hover
      background: $colorBlueBG
      color: white
  .swiper-prev
    // left: 0
    .ico
      transform: rotate(180deg)
  .swiper-next
    margin-left: auto
