// HERO
.hero.hero--top-gradient
  .hero__background.background-cover-ofit(js-parallax-scale-background data-scale-power="4" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_256,c_fill,e_blur:400/v1576861057/LDNSTD/hero_book-tour.jpg)")
    img(js-lazy data-src='site/img/hero_book-tour.jpg' data-srcset='site/img/hero_book-tour@2x.jpg 2x')
  .hero__content
    .container
