// HERO
.hero.hero--top-gradient.hero--short
  .hero__background.background-cover-ofit(js-parallax-scale-background data-scale-power="4" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_256,c_fill,e_blur:400/v1576772126/LDNSTD/hero_event.jpg)")
    //- img(js-lazy data-src='site/img/hero_event.jpg' data-srcset='site/img/hero_event@2x.jpg 2x')
    video(js-lazy loop muted autoplay playsinline)
      data-poster(src='site/img/hero_event.jpg')
      data-src(src="video/fifa.mp4" type="video/mp4")
      data-src(src="video/fifa.webm" type="video/webm")
      //- source(src="/video/test-video.ogg" type="video/ogg")

  .hero__content
    .container
