// HERO
.hero.hero--section-fold.hero--bottom-gradient
  .hero__background.background-cover-ofit(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1574011917/friwo/heroBackground_6.jpg)")
    img(js-lazy data-src='img/hero_homepage.jpg' data-srcset='img/hero_homepage@2x.jpg 2x')
  .hero__content
    .container
      .hero__text(data-aos="fade-up")
        h1.h1-title Experience <br/> everything
        a(href="#").btn.btn-white.btn-primary
          span See more
          +svgMono('arrow-right')
