// accardeon
.accardeon
  &__element
    margin-bottom: 2px
    &:last-child
      margin-bottom: 0
    &.is-active
      .accardeon__toggler
        &::after
          transform: translateY(-50%) rotate(180deg)
  &__toggler
    position: relative
    display: flex
    align-items: center
    background: $colorGrayBG
    cursor: pointer
    padding-right: 50px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      right: 30px
      top: 50%
      size: 19px 11px
      transform: translateY(-50%)
      background: svg-load('../icons/svg-mono/caret.svg', fill=$colorBlue) no-repeat center center
      background-size: contain
      transition: transform .25s $ease
      will-change: transform

  &__icon
    font-size: 0
    min-size: 78px
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    background: $colorCyan
    color: $colorBlue
    .ico
      font-size: 44px
      &-mono-transport
        &-car
          font-size: 40px
        &-bike
          font-size: 38px

  &__title
    font-size: 25px
    font-weight: 600
    letter-spacing: em(-0.5, 25)
    color: $colorBlue
    padding-left: 24px

  &__content
    display: none
    padding: 50px 0
    max-width: 590px

+r($md)
  .accardeon
    &__icon
      min-size: 70px
      .ico
        font-size: 40px
        &-mono-transport
          &-car
            font-size: 36px
          &-bike
            font-size: 34px
    &__title
      font-size: 22px
    &__content
      padding: 35px 0

+r($sm)
  .accardeon
    &__toggler
      padding-right: 40px
      &::after
        right: 30px
        size: 14px 8px
    &__icon
      min-size: 60px
      .ico
        font-size: 34px
        &-mono-transport
          &-car
            font-size: 32px
          &-bike
            font-size: 30px
    &__title
      font-size: 17px
      padding-left: 20px
    &__content
      padding: 25px 20px 20px 15px
