include ../breadcrumbs/_breadcrumbs

// CONTENT
.content.sec-mt-fold-t
  .container-l
    // section header
    .section-header.section-header--titled(data-aos="fade-left")
      .container-l__inner
        .section-header__breadcrumbs
          +breadcrumbs(['Home', 'Stadium tours', 'Book a tour'])
        h1.section-header__title Book a tour

// content section
.content-section.content-section--with-btn.sec-tr.sec-tr--cyan-br(data-aos="trigger")
  .content-section__cta-section
    .container
      a(href='#').content-section__buy-btn
        span Make a booking
        +svgMono('arrow-right')

  .container
    h2.h2-title.c-blue(data-aos="fade-up") New for 2020
    .row
      .col-12.col-md-6.offset-lg-1.order-md-2
        .swiper-container.swiper-bullets.js-swiper-article
          .swiper-wrapper
            each slide in [1,2,3]
              .swiper-slide
                .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
                  img(js-lazy data-src='site/img/event_card_1.jpg' data-srcset='site/img/event_card_1@2x.jpg 2x')
          .swiper-pagination

      .col-12.col-md-6.col-lg-5.order-md-1
        .wysiwyg(data-aos="fade-up")
          p.lead We are delighted that we can now offer guided match day tours so come and take a behind the scenes view of London Stadium only hours before the players battle it out on the pitch.
          p This is a different style of tour as this tour will be guided in small groups and everyone on the tour will be accompanied by one of our exceptional Experience Makers. Our guides are full of character, knowledge and stories about West Ham United, athletics and the incredible feat of architecture that is the London Stadium, so you will be entertained on your journey through the stadium.

          p The popular areas of this tour will still be visited, but the excitement of a match day will be in the air.
            br
            | To book this exclusive access tour, <a href="#">click here</a>.

          p <strong>Please note:</strong> match day tours are sometimes subject to route changes.
