// CONTENT
.content
  position: relative
  z-index: 2
  background: $colorGrayBG
  &--bg-white
    background: white
  &__wrapper
    padding-top: 100px
    background: white
    h1, h2, h3, h4, h5, h6
      &:first-child
        margin-top: 0
  &__breadcrumbs
    margin-top: 70px
  &__accardeon
    margin: 100px 0 120px

+r($lg)
  .content
    &__wrapper
      padding-top: 80px
    &__breadcrumbs
      margin-right: 50px
    &__accardeon
      margin: 80px 0 90px

+r($md)
  .content
    &__wrapper
      padding-top: 60px
    &__breadcrumbs
      margin-right: 40px
    &__accardeon
      margin: 60px 0 70px


+r($sm)
  .content
    &__wrapper
      padding-top: 40px
    &__breadcrumbs
      margin-right: 30px
    &__accardeon
      margin: 35px -15px 50px

// ARTICLE
.article
  position: relative
  margin-top: 70px
  padding-bottom: 100px
  .col-12
    position: static

  &__main-image
    margin-bottom: 70px
  &__timestamp
    font-size: 17px
    font-weight: 600
    margin-bottom: 40px
  &__title
    margin: 40px 0
    font-size: 60px
    line-height: 1.17
    letter-spacing: em(-0.71, 60)
  &__text
    max-width: 590px
  &__tag
    position: absolute
    z-index: 2
    top: 0px
    right: 0
    min-width: 180px
    font-size: 17px
    font-weight: 600
    padding: 10px 20px
    background: $colorBlueBG
    color: white

+r($lg)
  .article
    margin-top: 50px
    padding-bottom: 80px

+r($sm)
  .article
    margin-top: 30px
    padding-bottom: 50px
    &__text
      padding-right: 5px

// wysiwyg
.wysiwyg
  p
    margin: 1.5em 0
    font-size: 17px
    line-height: 1.58
    font-weight: normal
    a
      color: $colorCyan
      transition: color .25s $ease
      &:hover
        color: $colorBlueBG
  blockquote
    margin: 1.5em 0
    font-size: 23px
    line-height: 1.43
    font-weight: 600
  ul
    list-style: none
    margin: 1.5em 0
    padding: 0
    li
      position: relative
      display: block
      font-size: 17px
      padding-left: 16px
      margin-bottom: 0.2em
      &::before
        display: inline-block
        content: '–'
        position: absolute
        left: 0
        top: 0

  // margings
  blockquote, p, ul
    &:first-child
      margin-top: 0

  p + p, blockquote + p, p + blockquote
    margin-top: 1.5em
  p
    ul
      margin-top: 0

+r($sm)
  .wysiwyg
    blockquote
      font-size: 19px
    p
      font-size: 15px
    ul
      li
        font-size: 15px
