include ../breadcrumbs/_breadcrumbs

// CONTENT
.content.sec-mt-fold-t
  .container-l
    // section header
    .section-header.section-header--titled(data-aos="fade-left")
      .container-l__inner
        .section-header__breadcrumbs
          +breadcrumbs(['Home', 'Plan your visit', 'Eat & drink'])
        h1.section-header__title Eat & drink

// CONTENT
.content.bg-gray
  .container
    // Article
    article.article
      .article__text(data-aos="fade-up")
        h2.h2-title.c-blue Hungry?
        p.p-big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.

// content section
.content-section.sec-tr.sec-tr--red(data-aos="trigger")
  .container
    h2.h2-title.c-blue(data-aos="fade-up") Eat
    .row
      .col-12.col-md-6.offset-lg-1.order-md-2
        .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
          img(js-lazy data-src='site/img/event_card_1.jpg' data-srcset='site/img/event_card_1@2x.jpg 2x')

      .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
        .wysiwyg(data-aos="fade-up")
          p London Stadium proudly serve a wide range of locally sourced food on event days, including award winning, locally sourced Wicks Manor sausages, and freshly cooked pure beef or chicken burgers.
          p Smoked beech wood German imported Hot Dogs with a variety of toppings, and for those with a sweet tooth, Kingdom of Sweets offer ice cream, sweets and cold drinks.
          p Our kiosks carry a range of options including nachos, chicken and vegetable skewers, wraps and sandwiches, hot & cold drinks and meal deal options to suit every taste. Keep an eye on our electronic signage for any up-to-date listings.
          p On West Ham matchdays, our outlets will serve food until the start of the second half, though snacks will be available from our late bars when in operation.

// content section
.content-section.bg-gray
  .container
    .row
      .col-12.col-md-6
      .col-12.col-md-6.col-lg-5.offset-lg-1
        h2.h2-title.c-blue(data-aos="fade-up") Drink
    .row
      .col-12.col-md-6
        .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
          img(js-lazy data-src='site/img/event_card_1.jpg' data-srcset='site/img/event_card_1@2x.jpg 2x')

      .col-12.col-md-6.col-lg-5.offset-lg-1.mt-md-2
        .wysiwyg(data-aos="fade-up")
          p Guests visiting London Stadium can enjoy a variety of drinks to suit every taste.
          p Serving a wide variety of drinks from the Heineken brand, including lager, bitter and cider, the Heineken Bar is situated under the north scoreboard and s the only in-bowl bar in the Premier League thanks to the Stadium’s unique design.
          p Also on the inner concourses at London Stadium, there are ten draft bars serving a range of drinks, four real ale bars selling traditional ales and bitters, as well as a special West Ham ale brewed for London Stadium.
          p In addition to our kiosks, there are seven water fountains located on the outer concourse. For more information, simply ask a member of our friendly stewarding team, who’ll be happy to help.
          p On West Ham United matchdays, most bars close after half time, but on most fixtures, a select number of kiosks serving food and drinks will remain open until one hour after the final whistle. Keep an eye on our electronic signage for the latest update and timings.

// content section
.content-section.sec-tr.sec-tr--cyan(data-aos="trigger")
  .container
    h2.h2-title.c-blue(data-aos="fade-up") West Ham Coffee
    .row
      .col-12.col-md-6.offset-lg-1.order-md-2
        .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
          img(js-lazy data-src='site/img/event_card_1.jpg' data-srcset='site/img/event_card_1@2x.jpg 2x')

      .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
        .wysiwyg(data-aos="fade-up")
          p If you are visiting <strong>London Stadium</strong> for an event, for one of our stadium tours, a trip to the <strong>Stadium Store</strong> or simply exploring <strong>Queen Elizabeth Olympic Park</strong>, you can enjoy a range of hot and cold food and drinks from the <strong>West Ham Coffee Co</strong>.
          p Situated on the lower level of the <strong>Stadium Store</strong>, the cafe offers a variety of hot and cold drinks, meals and snacks. On matchdays, guests can enjoy food and drink including beer, wine and soft drinks.
          p
          p
            strong Opening times:
            br
            br
            strong Monday to Friday 9:30am ~ 4:30pm
            br
            strong Saturday 9am ~ 4:30pm
            br
            strong Sunday 11am ~ 4:30pm
            br
            | <strong>Matchday 9am ~ Kick-off</strong> (Re-opens after final whistle)
