
// content section
//- .content-section
//-   .container
//-     .row
//-       .col-12.col-md-5
//-         h2.h2-title.c-blue(data-aos="fade-up") We support a range of events
//-         p.p-big(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// CONTENT
.content
  .container
    // Article
    article.article
      .article__text(data-aos="fade-up")
        h2.h2-title.c-blue We support a range of events
        p.p-big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// content nav
.content-tabs
  .content-nav.js-sticky-nav
    .content-nav__wrapper
      .container
        ul.content-nav__list.js-content-navigation
          li
            a(href='#' data-to-section="1") Meetings & Conferences
          li
            a(href='#' data-to-section="2") Dinners & Dances
          li
            a(href='#' data-to-section="3") Private Parties
          li
            a(href='#' data-to-section="4") Christmas Parties
          li
            a(href='#' data-to-section="5") Weddings
          li
            a(href='#' data-to-section="6") Team Build

  // content section
  .content-section.bg-gray.js-content-navsection(data-nav-section="1")
    .container
      h2.h2-title.c-blue(data-aos="fade-up") New for 2020
      .row
        .col-12.col-md-6.offset-lg-1.order-md-2
          .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
            img(js-lazy data-src='img/event_card_1.jpg' data-srcset='img/event_card_1@2x.jpg 2x')

        .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
          .wysiwyg(data-aos="fade-up")
            blockquote We are delighted that we can now offer guided match day tours so come and take a behind the scenes view of London Stadium only hours before the players battle it out on the pitch.
            p This is a different style of tour as this tour will be guided in small groups and everyone on the tour will be accompanied by one of our exceptional Experience Makers. Our guides are full of character, knowledge and stories about West Ham United, athletics and the incredible feat of architecture that is the London Stadium, so you will be entertained on your journey through the stadium.

            p The popular areas of this tour will still be visited, but the excitement of a match day will be in the air.
              br
              | To book this exclusive access tour, <a href="#">click here</a>.

            p <strong>Please note:</strong> match day tours are sometimes subject to route changes.


  // content section
  .content-section.js-content-navsection(data-nav-section="2")
    .container
      h2.h2-title.c-blue(data-aos="fade-up") Our tailor-made events
      .row
        .col-12.col-md-6.offset-lg-1.order-md-2
          .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
            img(js-lazy data-src='img/event_card_1.jpg' data-srcset='img/event_card_1@2x.jpg 2x')

        .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
          .wysiwyg(data-aos="fade-up")
            h3 Exciting venues
            p
              strong Inspirational venues, the limit is your imagination.
            ul
              li Stylish, modern venue spaces
              li 9 event spaces and 16 boxes.
              li Sit down dinner for up to 300
              li Drinks receptions for up to 1,000
              li Marquee options available
              li Some rooms over-looking the bowl of the stadium
              li Other rooms overlooking the City of London

  // content section
  .content-section.bg-gray.js-content-navsection(data-nav-section="3")
    .container
      .row
        .col-12.col-md-6.offset-lg-1.order-md-2
          .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
            img(js-lazy data-src='img/event_card_1.jpg' data-srcset='img/event_card_1@2x.jpg 2x')

        .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
          .wysiwyg(data-aos="fade-up")
            h3 Creative food and drink
            p
              strong Inspirational venues, the limit is your imagination.
            ul
              li Creative food and drink by award winning Delaware North
              li Innovative event menus
              li Award winning chefs
              li Flexible to meet your requirements
              li Healthy and sustainable products
              li Great presentation
              li Bespoke menus available
              li A great team with the personal touch
  // content section
  .content-section.js-content-navsection(data-nav-section="4")
    .container
      .row
        .col-12.col-md-6.offset-lg-1.order-md-2
          .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
            img(js-lazy data-src='img/event_card_1.jpg' data-srcset='img/event_card_1@2x.jpg 2x')

        .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
          .wysiwyg(data-aos="fade-up")
            h3 Excellent support
            p
              strong Inspirational venues, the limit is your imagination.
            ul
              li Professional AV suppliers
              li Creative florists
              li Great music
              li The latest in entertainment
              li Well dressed tables
              li Ingenious photography
              li Props and themes
              li Whatever you want – we will source it
