include ../breadcrumbs/_breadcrumbs

// CONTENT
.content.sec-mt-fold-t
  .container-l
    // section header
    .section-header.section-header--titled(data-aos="fade-left")
      .container-l__inner
        .section-header__breadcrumbs
          +breadcrumbs(['Home', 'Stadium tours', 'Explore Functions'])
        h1.section-header__title Explore Functions
