include ../breadcrumbs/_breadcrumbs

// CONTENT
.content.sec-mt-fold-t
  .container-l
    // section header
    .section-header.section-header--titled(data-aos="fade-left")
      .container-l__inner
        .section-header__breadcrumbs
          +breadcrumbs(['Home', 'Stadium tours', 'Match day'])
        h1.section-header__title Match day

// content section
.content-section.content-section--with-btn
  .content-section__cta-section
    .container
      a(href='#').content-section__buy-btn
        span Make a booking
        +svgMono('arrow-right')

  .container
    h2.h2-title.c-blue(data-aos="fade-up") London Stadium tour
    .row
      .col-12.col-md-6.offset-lg-1.order-md-2
        .scaler(data-ar="4:3" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/event_card_1.jpg)")
          img(js-lazy data-src='site/img/event_card_1.jpg' data-srcset='site/img/event_card_1@2x.jpg 2x')

      .col-12.col-md-6.col-lg-5.order-md-1.mt-md-2
        .wysiwyg(data-aos="fade-up")
          blockquote Not to be missed, a fantastic opportunity to explore the world famous London Stadium. Go behind the scenes and find out fascinating facts with our exclusive part guided, part multimedia tour.
          p The much loved former Olympic Stadium has been transformed into a superb multi-use venue and is home to West Ham United and UK Athletics. As well as Premier League football, London Stadium saw Usain Bolt and Mo Farah crown the IAAF World Athletics Championships, which followed a run of iconic concerts which saw artists from Guns N’ Roses to Robbie Williams perform at the venue.

