// content section
.content-section
  .container
    h2.h2-title.c-blue(data-aos="fade-up") Useful information

    // content tabs
    .content-tabs
      ul.content-tabs__navigation.js-content-tabs(data-aos="fade-up")
        li.col.is-active
          a(href='#' data-target-tab="1") Opening times
        li.col
          a(href='#' data-target-tab="2") Prices
        li.col
          a(href='#' data-target-tab="3") Tour notices
      .content-tabs__tabs(data-aos="fade-up")
        .content-tabs__tab.is-active(data-tab="1")
          .row
            .col-12.col-md-6
              .wysiwyg
                p Guests visiting London Stadium can enjoy a variety of drinks to suit every taste.
                p Serving a wide variety of drinks from the Heineken brand, including lager, bitter and cider, the Heineken Bar is situated under the north scoreboard and s the only in-bowl bar in the Premier League thanks to the Stadium’s unique design.
        .content-tabs__tab(data-tab="2")
          .row
            .col-12.col-md-6
              .wysiwyg
                p (tab 2) Guests visiting London Stadium can enjoy a variety of drinks to suit every taste.
                p Serving a wide variety of drinks from the Heineken brand, including lager, bitter and cider, the Heineken Bar is situated under the north scoreboard and s the only in-bowl bar in the Premier League thanks to the Stadium’s unique design.
        .content-tabs__tab(data-tab="3")
          .row
            .col-12.col-md-6
              .wysiwyg
                p (tab 3) Guests visiting London Stadium can enjoy a variety of drinks to suit every taste.
                p Serving a wide variety of drinks from the Heineken brand, including lager, bitter and cider, the Heineken Bar is situated under the north scoreboard and s the only in-bowl bar in the Premier League thanks to the Stadium’s unique design.
