// subscribe
.subscribe
  &__wrapper
    background: $colorBlue
    color: white
    padding: 70px 0
  &__title
    color: $colorCyan
  &__description
    max-width: 320px
    margin-top: 20px
  &__socials
    display: flex
    margin-top: 15px
  &__socials-wrapper
    margin-left: auto
  &__socials-title
    color: $colorCyan
    margin-bottom: 35px
  &__socials-list
    //.socials-list nest

  &__form
    margin-top: 35px
    position: relative
    display: flex
    input, button
      -webkit-appearance: none
      border: 0
      box-shadow: 0
    input
      flex: 1 1 auto
      font-size: 15px
      padding: 22px
      font-weight: 500
      &::placeholder
        color: #ABADAF
    button
      flex: 0 0 180px
      text-align: center
      min-width: 180px
      font-size: 17px
      font-weight: 600
      padding: 10px
      background: $colorCyan
      transition: background .25s $ease, color .25s $ease
      &:hover
        background: $colorRed
        color: white

+r($lg)
  .subscribe
    &__wrapper
      padding: 50px 0
    &__form
      button
        flex-basis: 140px
        min-width: 140px

+r($md)
  .subscribe
    &__form
      max-width: 460px
    &__socials
      display: block
      margin-top: 60px
    &__socials-wrapper
      margin-left: 0

+r($sm)
  .subscribe
    &__wrapper
      padding: 30px 0 70px
    &__form
      margin-top: 28px
      input
        font-size: 11px
        padding: 17px 17px
      button
        font-size: 13px
        min-width: 90px
        flex-basis: 90px
        font-size: 13px
    &__socials
      margin-top: 45px

    &__socials-title
      margin-bottom: 15px
