---
title: News
---
extends shared/_layout
block content

  // header modifier
  .js-header-class(data-class="header-fill")

  include ../components/content/_article
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
