---
title: Event 2
---
extends shared/_layout
block content

  include ../components/hero/_event
  include ../components/content/_event2
  include ../components/directions/_event
  include ../components/content/_getting-here
  // EVENTS
  .events
    include ../components/events/_upcoming
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
