---
title: Functions
---
extends shared/_layout
block content

  include ../components/hero/_functions
  include ../components/content/_functions
  include ../components/cta-section/_functions
  include ../components/video/_functions
  include ../components/cta-section/_call
  include ../components/content/_functions2
  include ../components/cta-section/_booking-no-form
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
