---
title: Functions
---
extends shared/_layout
block content

  include ../components/hero/_functions
  include ../components/content/_functions
  include ../components/video/_stadium-tour
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
