---
title: Getting here
---
extends shared/_layout
block content

  include ../components/hero/_getting-here
  include ../components/directions/_getting-here
  include ../components/content/_getting-here
  // EVENTS
  .events
    include ../components/events/_upcoming
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
