---
title: Homepage
---
extends shared/_layout
block content

  include ../components/hero/_homepage
  // EVENTS
  .events.sec-mt-fold
    include ../components/events/_upcoming
  include ../components/directions/_directions
  include ../components/add-visit/_add-visit
  include ../components/news/_latest-home
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/banner/_placeholder
  include ../components/partners/_partners
