---
title: Match day
---
extends shared/_layout
block content

  include ../components/hero/_match-day
  include ../components/content/_match-day
  include ../components/video/_stadium-tour
  include ../components/content/_match-day2
  include ../components/cta-section/_booking
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
