---
title: News
---
extends shared/_layout
block content

  include ../components/hero/_news
  include ../components/news/_news
  // EVENTS
  .events
    include ../components/events/_homepage
  include ../components/banner/_stadium
  include ../components/subscribe/_subscribe
  include ../components/partners/_partners
