// CTA SECTION
.cta-section
  .container-l
    .cta-section__wrapper
      .container-l__inner
        .cta-section__text(data-aos="fade-up")
          .h2-title.c-blue Book now!
          p.p-main Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
        .cta-section__form
          .row
            .col-12.col-md-3
              .ui-group
                label
                a(href="#" target="_blank").btn.btn-blue.btn--block Search
