// CTA SECTION
.cta-section
  .container-l
    .cta-section__wrapper.cta-section__wrapper--short
      .container-l__inner
        .cta-section__row(data-aos="fade-up")
          .cta-section__row-icon
              +svgMono('phone-call')
          .cta-section__row-text
            p Get in touch on <a href="tel:02085226139">0208 522 6139</a> <br/>for more information and to book
