// CTA SECTION
.cta-section
  position: relative
  z-index: 2
  &__wrapper
    background: $colorCyan
    padding: 95px 0 90px
    &--short
      padding: 40px 0
  &__text
    .h2-title
      margin: 0 0 20px
    p
      max-width: 520px
  &__form
    margin-top: 45px
  &__row
    display: flex
    align-items: center
    color: $colorBlue
  &__row-icon
    flex: 0 0 80px
    font-size: 0
    .ico
      font-size: 80px
  &__row-text
    padding-left: 40px
    p
      margin: 0
      font-size: 29px
      line-height: 1.34
      font-weight: 600
      a
        font-weight: 800
        text-decoration: underline
        &:hover
          text-decoration: none

