/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: transparent
  will-change: transform
  color: white
  backface-visibility: hidden
  transform-style: preserve-3d
  transition: background .25s .1s $ease
  &__wrapper
    display: flex
    align-items: center
    padding: 20px 40px 12px 20px

  &__logo
    flex: 0 0 auto
    padding-right: 30px
    font-size: 0
    .ico
      font-size: 67px

  &__cta
    display: flex
    align-items: center
    margin-left: auto
    padding-left: 30px
    margin-bottom: 10px
  &__buy-btn
    margin-right: 20px

  &__hamburger
    padding-left: 10px
    margin-bottom: 10px

  // animation part
  &__buy-btn
    transition: opacity .25s $ease, transform .25s $ease
    will-change: transform

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    background: $colorBlueBG
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s $ease, background .25s $ease
    .header__wrapper
      padding-top: 10px
      padding-bottom: 8px

  &.is-fixed-visible
    // visibility: visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s $ease, background .25s $ease
    transform: translate3d(0,-100%,0) !important

body.is-mnav-active
  .header
    background: $colorBlueBG
    &__buy-btn
      opacity: 0
      transform: translate(0,-7px)
      pointer-events: none


// +r($lg)
//   .header

// +r($md)
//   .header

// +r($sm)
//   .header
