// HEADER :: START
header.header
  .header__wrapper
    a(href="homepage.html").header__logo
      +svgMono('logo')

    .header__cta
      .header__buy-btn
        a(href="#").btn.btn-rounded Buy Tickets
      .header__search
        // header search
        form(action="/search").header-search.js-header-search
          .header-search__opener.js-header-search-opener
            +svgMono('search')
          .header-search__content
            input(type="text" placeholder="What are you looking for?")
            button.header-search__submit(type="submit") Search
    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="homepage.html") Homepage
      li
        a(href="page.html") Shop
      li
        a(href="page.html") Lorem
    .mobile-navi__cta
      a(href="mailto:sergey@khmelevskoy.co") sergey@khmelevskoy.co
