// MAIN NAVI
.mnav.is-active
  .mnav__scroller
    .mnav__container
      // menu
      ul.mnav__menu.js-mnav-menu
        li.has-ul
          a(href="#") What’s on
          ul
            li
              a(href="#") All events
            li
              a(href="#") Sports
            li
              a(href="#") Music
            li
              a(href="#") Stadium
            li
              a(href="#") Past events
        li
          a(href="#") Buy Tickets
        li
          a(href="#") Plan your visit
        li.has-ul
          a(href="#") Stadium Tours
          ul
            li
              a(href="#") All events
            li
              a(href="#") Sports
            li
              a(href="#") Music
            li
              a(href="#") Stadium
            li
              a(href="#") Past events
        li.has-ul
          a(href="#") Functions
          ul
            li
              a(href="#") All events
            li
              a(href="#") Sports
            li
              a(href="#") Music
            li
              a(href="#") Stadium
            li
              a(href="#") Past events
        li.has-ul
          a(href="#") The Stadium
          ul
            li
              a(href="#") All events
            li
              a(href="#") Sports
            li
              a(href="#") Music
            li
              a(href="#") Stadium
            li
              a(href="#") Past events
        li
          a(href="#") News
        li
          a(href="#") Contact us
      // auth menu
      ul.mnav__authmenu
        li
          a(href="#") Log in
        li
          a(href="#") Sign up

    // helper elements (animations)
    .mnav__submenu-bg.js-mnav-submenu-bg
