// PARTNERS
.partners
  .container
    .row
      .col-12.col-md-6
        .h5-title.partners__title(data-aos="fade-up") Stakeholders
        .partners__logo-list.js-centrify-vertical(data-group="partners-logo" data-stop="<768")
          .row
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (34/123) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_1.png)")
                img(js-lazy data-src='site/img/partner_1.png' data-srcset='site/img/partner_1@2x.png 2x')
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (46/88) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_2.png)")
                img(js-lazy data-src='site/img/partner_2.png' data-srcset='site/img/partner_2@2x.png 2x')
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (50/90) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_3.png)")
                img(js-lazy data-src='site/img/partner_3.png' data-srcset='site/img/partner_3@2x.png 2x')
      .col-12.col-md-6
        .h5-title.partners__title(data-aos="fade-up") Our Partners
        .partners__logo-list.js-centrify-vertical(data-group="partners-logo" data-stop="<768")
          .row
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (57/110) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_4.png)")
                img(js-lazy data-src='site/img/partner_4.png' data-srcset='site/img/partner_4@2x.png 2x')
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (49/124) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_5.png)")
                img(js-lazy data-src='site/img/partner_5.png' data-srcset='site/img/partner_5@2x.png 2x')
            .col-4
              .partners__logo
                // .scaler.no-bg-onload(style="padding-bottom: "+ (64/71) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1576427827/LDNSTD/partner_6.png)")
                img(js-lazy data-src='site/img/partner_6.png' data-srcset='site/img/partner_6@2x.png 2x')
