// partners
.partners
  padding: 150px 0
  &__title
    margin-bottom: 80px
    color: $colorBlue
    text-align: center
  &__logo-list
    .col-6
      display: flex
      flex-direction: column
  &__logo
    flex: 1 1 auto
    margin: 10px 0
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: center
    font-size: 0
    img
      max-width: 100%
