// PARTNERS
.partners
  .container
    .row
      .col-12.col-md-6
        .h5-title.partners__title(data-aos="fade-up") Stakeholders
        .partners__logo-list.js-centrify-vertical(data-group="partners-logo" data-stop="<768")
          .row
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_1.png' data-srcset='img/partner_1@2x.png 2x')
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_2.png' data-srcset='img/partner_2@2x.png 2x')
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_3.png' data-srcset='img/partner_3@2x.png 2x')
      .col-12.col-md-6
        .h5-title.partners__title(data-aos="fade-up") Our Partners
        .partners__logo-list.js-centrify-vertical(data-group="partners-logo" data-stop="<768")
          .row
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_4.png' data-srcset='img/partner_4@2x.png 2x')
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_5.png' data-srcset='img/partner_5@2x.png 2x')
            .col-6.col-md-4
              .partners__logo
                img(js-lazy data-src='img/partner_6.png' data-srcset='img/partner_6@2x.png 2x')
