// NEWS
.news
  .container-l
    // section header
    .section-header(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Latest news
          .section-header__link
            a(href="#")
              span See all News
              +svgMono('arrow-right')
  .news__content
