.ico-mono-accessbility {
  width: 0.7em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.ico-mono-calendar {
  width: 1.03em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-caret {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.ico-mono-clock {
  width: 1em;
  height: 1em;
  fill: #134273;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-experience {
  width: 1em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-food {
  width: 1em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-info {
  width: 1em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-location {
  width: 1em;
  height: 1em;
  fill: #00B8C3;
}
.ico-mono-logo {
  width: 1.19em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-news {
  width: 1em;
  height: 1em;
  fill: #00B8C3;
}
.ico-mono-phone-call {
  width: 1em;
  height: 1em;
  fill: #134273;
}
.ico-mono-play-btn {
  width: 1em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-seats {
  width: 2.31em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-seats2 {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-google {
  width: 0.96em;
  height: 1em;
  fill: #134273;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-linkedin {
  width: 1.09em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-twitter {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-youtube {
  width: 1.41em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-stadium {
  width: 1.6em;
  height: 1em;
  fill: #00D9E3;
}
.ico-mono-tickets {
  width: 0.84em;
  height: 1em;
  fill: #00B8C3;
}
.ico-mono-train {
  width: 0.81em;
  height: 1em;
  fill: #134273;
}
.ico-mono-weather {
  width: 1.33em;
  height: 1em;
  fill: #134273;
}
