// DIRECTIONS
.directions
  position: relative
  z-index: 2
  &__content

  &__nav
    background: $colorBlueBG
    color: white
    display: flex
    overflow: hidden
  &__nav-element
    width: 100%
    flex: 0 0 25%
    max-width: 25%
    min-width: 1px
    min-height: 0
    border-right: 3px solid white
    &:last-child
      border-right: 0

  &__map
    position: relative
    min-height: 600px
  &__map-container
    position: absolute 0
    background: $colorGrayBG
    display: flex
    flex-direction: column
    .js-gmap
      flex: 1 1 auto
      width: 100%
      height: 100%
  &__overlay
    position: relative
    z-index: 2
    pointer-events: none
    .col-21
      pointer-events: all
  &__info
    min-height: 600px
    background: white

+r($lg)
  .directions
    &__nav
      flex-wrap: wrap
    &__nav-element
      flex-basis: 50%
      max-width: 50%
      border-right: 2px solid white
      border-bottom: 2px solid white
      &:nth-child(even)
        border-right: 0
    &__map
      min-height: 450px
    &__info
      min-height: 450px

+r($sm)
  .directions
    &__nav-element
      flex-basis: 100%
      max-width: 100%
      border-right: 0
      border-bottom: 1px solid white
    &__map
      min-height: 300px

+r($mobile-s)
  .directions
    &__map
      min-height: 220px

// DIRECTION NAVIGATION ELEMENT
.dirnav
  display: flex
  flex-direction: column
  padding: 45px 20px 65px 70px
  &__icon
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: $colorCyan
    min-height: 40px
    font-size: 0
    transition: transform .25s $ease
    will-change: transform
    .ico
      font-size: 32px
    .ico-mono
      &-location
        font-size: 40px
      &-seats
        font-size: 26px
      &-info
        font-size: 37px
      &-food
        font-size: 40px
      &-accessbility
        font-size: 40px
      &-stadium
        font-size: 25px
  &__content
    padding-top: 20px
    margin-top: auto
  &__link
    display: flex
    align-items: center
    span
      display: inline-block
      margin-right: 14px
      font-size: 23px
      font-weight: 800
    .ico
      font-size: 19px
      transition: transform .25s $ease
      will-change: transform
  &__description
    margin-top: 25px
    font-size: 15px
    font-weight: 600
  &:hover
    .dirnav
      &__icon
        transform: translateY(-5px)
      &__link
        .ico
          transform: translateX(5px)

+r($xl)
  .dirnav
    padding-left: 40px

+r($lg)
  .dirnav
    padding: 30px 20px 50px 20px
    &__link
      span
        font-size: 19px
        margin-right: 10px
      .ico
        font-size: 15px
    &__description
      margin-top: 15px
      font-size: 15px
    &__content
      padding-top: 15px

+r($sm)
  .dirnav
    position: relative
    flex-direction: row
    padding: 20px 15px
    &__icon
      flex: 0 0 40px
      padding-bottom: 5px
      .ico
        font-size: 32px
      .ico-mono
        &-location
          font-size: 32px
        &-seats
          font-size: 14px
        &-info
          font-size: 32px
        &-food
          font-size: 32px
        &-accessbility
          font-size: 32px
        &-stadium
          font-size: 20px
    &__content
      padding-top: 0
      padding-left: 10px
      padding-right: 20px
    &__description
      font-size: 13px
      margin-top: 3px
    &__link
      span
        font-size: 17px
        margin-right: 5px
      .ico
        font-size: 16px
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
    &:hover
      .dirnav
        &__link
          .ico
            transform: translate(5px, -50%)
