// DIRECTIONS
.directions
  .container-l
    // section header
    .section-header.section-header--gray(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Plan your visit
  .directions__content
