// DIRECTIONS
.directions
  .container-l
    // section header
    .section-header.section-header--gray(data-aos="fade")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Plan your visit
  .directions__content
    .directions__nav
      // 4 nav elements
    .directions__map
      .directions__map-container
        .js-gmap(data-center="51.538663, -0.006461" data-zoom="15")
      .directions__overlay
        .container
          .row
            .col-12.col-md-6.offset-md-6
              .directions__info.js-stick-to-window(data-position="right" data-stop="<991")
