include ../breadcrumbs/_breadcrumbs

// DIRECTIONS
.directions.sec-mt-fold-t
  .container-l
    // section header
    .section-header.section-header--titled(data-aos="fade-left")
      .container-l__inner
        .section-header__breadcrumbs
          +breadcrumbs(['Home', 'Plan your visit', 'Getting here'])
        h1.section-header__title Getting here

  .directions__content
    .directions__map
      .directions__map-container
        .js-gmap(data-center="51.538663, -0.006461" data-zoom="15")
    // nav
    .directions__nav
      .directions__nav-element(data-aos="fade-up")
        a(href="#").dirnav
          .dirnav__icon
            +svgMono('seats')
          .dirnav__content
            .dirnav__link
              span Find your seat
              +svgMono('arrow-right')
            .dirnav__description Sed do eiusmod tempor
      .directions__nav-element(data-aos="fade-up")
        a(href="#").dirnav
          .dirnav__icon
            +svgMono('info')
          .dirnav__content
            .dirnav__link
              span Visitor info
              +svgMono('arrow-right')
            .dirnav__description Sed do eiusmod tempor
      .directions__nav-element(data-aos="fade-up")
        a(href="#").dirnav
          .dirnav__icon
            +svgMono('food')
          .dirnav__content
            .dirnav__link
              span Eat & drink
              +svgMono('arrow-right')
            .dirnav__description Sed do eiusmod tempor
      .directions__nav-element(data-aos="fade-up")
        a(href="#").dirnav
          .dirnav__icon
            +svgMono('accessbility')
          .dirnav__content
            .dirnav__link
              span Accessbility
              +svgMono('arrow-right')
            .dirnav__description Sed do eiusmod tempor
