// BANNER
.banner
  position: relative
  z-index: 1
  &__background
    z-index: 1
    background-color: $colorGrayBG
  &__content
    position: relative
    z-index: 3
    padding-top: 100px
    padding-bottom: 40px
    min-height: 100vh
    color: white
  &__text
    .h1-title
      margin: 0 0 40px
  &__triangle
    position: absolute
    z-index: 2
    top: 0
    right: 0
