// BANNER PLACEHOLDER
.banner
  .container-l
    // section header
    .section-header.section-header--gray(data-aos="fade-right")
      .container-l__inner
        .section-header__wrapper
          .section-header__name Banner Placeholder
