// BANNER
.banner.banner--triangle-yellow
  .banner__background.background-cover-ofit(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:400/v1576427827/LDNSTD/heroBackground_6.jpg)")
    img(js-lazy data-src='img/banner_stadium.jpg' data-srcset='img/banner_stadium@2x.jpg 2x')
  .banner__content
    .container
      .banner__text(data-aos="fade-up")
        h3.h1-title Your <br/> Stadium
        a(href="#").btn.btn-white.btn-primary Find out more
